aiofiles==23.2.1
amqp==5.2.0
anyio==4.2.0
asgiref==3.7.2
asttokens==2.4.1
async-timeout==4.0.3
bidict==0.22.1
billiard==4.2.0
celery==5.3.6
certifi==2023.11.17
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
cron-descriptor==1.4.3
decorator==5.1.1
defusedxml==0.7.1
diff-match-patch==20230430
Django==4.2.10
django-celery-beat==2.5.0
django-celery-results==2.5.1
django-filter==23.5
django-import-export==3.3.6
django-timezone-field==6.1.0
et-xmlfile==1.1.0
exceptiongroup==1.2.0
executing==2.0.1
fastapi==0.109.0
h11==0.14.0
htmx==0.0.0
httpcore==1.0.2
httptools==0.6.1
httpx==0.26.0
idna==3.6
ifaddr==0.2.0
ipython==8.21.0
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.3
kombu==5.3.5
markdown2==2.4.10
MarkupPy==1.14
MarkupSafe==2.1.4
matplotlib-inline==0.1.6
nicegui==1.4.12
numpy==1.26.4
odfpy==1.4.1
openpyxl==3.1.2
orjson==3.9.12
pandas==2.2.0
parso==0.8.3
prompt-toolkit==3.0.43
pscript==0.7.7
psycopg2==2.9.9
pure-eval==0.2.2
pydantic==1.10.14
Pygments==2.17.2
python-crontab==3.0.0
python-dateutil==2.8.2
python-decouple==3.8
python-dotenv==1.0.1
python-engineio==4.8.2
python-multipart==0.0.6
python-socketio==5.11.0
pytz==2024.1
PyYAML==6.0.1
redis==5.0.1
simple-websocket==1.0.0
six==1.16.0
sniffio==1.3.0
sqlparse==0.4.4
stack-data==0.6.3
starlette==0.35.1
tablib==3.5.0
traitlets==5.14.1
typing_extensions==4.9.0
tzdata==2023.4
uvicorn==0.27.0
vbuild==0.8.2
vine==5.1.0
watchfiles==0.21.0
wcwidth==0.2.13
websockets==12.0
wsproto==1.2.0
xlrd==2.0.1
XlsxWriter==3.1.9
xlwt==1.3.0
