
<!DOCTYPE html>
{% load static %}
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title> Sparrow ALM</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta content="SOS " name="description" />
        <meta content="MyraStudio" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static "img/newspaper.png" %}">

        <!-- Sweet Alerts css -->
        <link href="{% static "assets/plugins/sweetalert2/sweetalert2.min.css" %}" rel="stylesheet" type="text/css" />

        <!-- App css -->
        <link href="{% static "assets/css/bootstrap.min.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "assets/css/custom.css" %}" rel="stylesheet" type="text/css"/>
        <link href="{% static "assets/css/theme.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "assets/css/icons.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "assets/css/icons.min.css"  %}"  rel="stylesheet" type="text/css" />
        <link href="{% static "assets/css/theme.min.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "assets/plugins/switchery/switchery.min.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "assets/plugins/bootstrap-datepicker/bootstrap-datepicker.min.css" %}" rel="stylesheet" type="text/css" />
        

        <!-- Drofiy CSS -->
        <link rel="stylesheet" href="{% static 'assets/plugins/dropify/dropify.min.css' %}">

        <!-- Plugins css -->
        <link href="{% static "assets/plugins/datatables/dataTables.bootstrap4.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "assets/plugins/datatables/responsive.bootstrap4.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "assets/plugins/datatables/buttons.bootstrap4.css" %}" rel="stylesheet" type="text/css" />
        <link href="{% static "assets/plugins/datatables/select.bootstrap4.css" %}" rel="stylesheet" type="text/css" />

        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        

        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    

    </head>

    <body>
        <style>
            body {
                background-image: url('{% static "img/5.svg" %}');
                background-size: cover;
                background-position: center;
                height: 100vh;
                margin: 0;
            }
          </style>

        <!-- Begin page -->
        <div id="layout-wrapper">

            <div class="main-content">
                <div class="topnav" style="background-color: rgba(255, 255, 255, 0.5);">
                    <div class="row">
                    <div class="navbar-brand-box d-flex align-items-left">
                        <a href="" class="logo">
                            <img src="{% static "img/smslogo.ico" %}" alt="">
                            <span>
                                SPARROW ALM
                            </span>
                        </a>

                        <button type="button" class="btn btn-sm mr-2 font-size-16 d-lg-none header-item waves-effect waves-light" data-toggle="collapse" data-target="#topnav-menu-content">
                            <i class="fa fa-fw fa-bars"></i>
                        </button>
                    </div>
                    <div class="container-fluid">
                        <nav class="navbar navbar-light navbar-expand-lg topnav-menu">
                            
                            <div class="collapse navbar-collapse" id="topnav-menu-content">
                                <ul class="navbar-nav">
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url "account:admindashboard" %}">
                                            <i class="mdi mdi-home-analytics"></i>Dashboard
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url "add_lead" %}">
                                            <i class="mdi mdi-pen"></i>Add Lead
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url "add_company" %}">
                                            <i class="mdi mdi-briefcase"></i>Add Company
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url "add_newspaper" %}">
                                            <i class="fas fa-newspaper"></i>Add Newspaper
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url "company" %}">
                                            <i class="mdi mdi-briefcase"></i>Company List
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="d-flex align-items-center">
                                <div class="dropdown d-inline-block ml-2">
                                    <button type="button" class="btn header-item waves-effect waves-light"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                       
                                        <span class="d-none d-sm-inline-block ml-1">{{user.full_name}}</span>
                                        <i class="mdi mdi-chevron-down d-none d-sm-inline-block"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                   
                                        <a class="dropdown-item d-flex align-items-center justify-content-between"
                                            href="{% url "profile" %}">
                                            Profile
                                        </a>
                                       
                                        <a class="dropdown-item d-flex align-items-center justify-content-between"
                                            href="{% url 'account:logout' %}">
                                            <span>Log Out</span>
                                        </a>
                                    </div>
                                </div>
                                
                            </div>
                        </nav>
                    </div>
                </div> 
                </div>                

                <div class="page-content">
                    <div class="container-fluid">
                        
                        {% block content %}
                        {% endblock content %}
                        


                        


                        

                        
                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->

                <footer class="footer mt-10">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="text-center text-lg-left">
                                    2024 © Sparrow
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="text-right d-none d-lg-block" style="color:white;">
                                    Design & Develop by Sparrow
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>

            </div>
            <!-- end main content-->

        </div>
        <!-- END layout-wrapper -->


        <!-- jQuery  -->
        <script src="{% static "assets/js/jquery.min.js" %}"></script>
        <script src="{% static "assets/js/bootstrap.bundle.min.js" %}"></script>
        <script src="{% static "assets/js/metismenu.min.js" %}"></script>
        <script src="{% static "assets/js/waves.js" %}"></script>
        <script src="{% static "assets/js/simplebar.min.js" %}"></script>

        <!-- Drofiy Js -->
        <script src="{% static 'assets/plugins/dropify/dropify.min.js' %}"></script>

        <!-- Initialize Dropify -->
        <script>
            $(document).ready(function(){
                // Initialize Dropify
                $('.dropify').dropify();
            });
        </script>

        <script>
            $(document).ready(function() {
                $('#basic-datatable').DataTable();
            });
        </script>
        

        <script>
            $(document).ready(function() {
                $('#exampleModalScrollable').modal('show');
            });
        </script>

        <!-- Sparkline Js-->
        <script src="{% static "assets/plugins/jquery-sparkline/jquery.sparkline.min.js" %}"></script>

        <!-- Chart Js-->
        <script src="{% static "assets/plugins/jquery-knob/jquery.knob.min.js" %}"></script>

        <!-- Chart Custom Js-->
        <script src="{% static "assets/pages/knob-chart-demo.js" %}"></script>


        <!-- Morris Js-->
        <script src="{% static "assets/plugins/morris-js/morris.min.js" %}"></script>
         <!-- Morris Custom Js-->
        <script src="{% static "assets/pages/morris-chart-demo.js" %}"></script>

        <!-- Raphael Js-->
        <script src="{% static "assets/plugins/raphael/raphael.min.js" %}"></script>

        <!-- Custom Js -->
        {% comment %} <script src="{% static "assets/pages/dashboard-demo.js" %}"></script>  {% endcomment %}

        <!-- App js -->
        <script src="{% static "assets/js/theme.js" %}"></script>

        <!-- third party js -->
        <script src="{% static "assets/plugins/datatables/jquery.dataTables.min.js" %}"></script>
        <script src="{% static "assets/plugins/datatables/dataTables.bootstrap4.js" %}"></script>
        <script src="{% static "assets/plugins/datatables/dataTables.responsive.min.js" %}"></script>
        <script src="{% static "assets/plugins/datatables/responsive.bootstrap4.min.js" %}"></script>
        <script src="{% static "assets/plugins/datatables/dataTables.buttons.min.js" %}"></script>
        <script src="{% static "assets/plugins/datatables/buttons.bootstrap4.min.js" %}"></script>
        <script src="{% static "assets/plugins/datatables/buttons.html5.min.js" %}"></script>
        <script src="{% static "assets/plugins/datatables/buttons.flash.min.js" %}"></script>
        <script src="{% static "assets/plugins/datatables/buttons.print.min.js" %}"></script>
        <script src="{% static "assets/plugins/datatables/dataTables.keyTable.min.js" %}"></script>
        <script src="{% static "assets/plugins/datatables/dataTables.select.min.js" %}"></script>
        <script src="{% static "assets/plugins/datatables/pdfmake.min.js" %}"></script>
        <script src="{% static "assets/plugins/datatables/vfs_fonts.js" %}"></script>
        <script src="{% static "assets/plugins/switchery/switchery.min.js" %}"></script>

        <!-- Chart Js-->
        <script src="{% static "assets/plugins/chart-js/chart.min.js" %}"></script>
        
         <!-- Sweet Alerts Js-->
        <script src="{% static "assets/plugins/sweetalert2/sweetalert2.min.js" %}"></script>

        <!-- Chart Custom Js-->
        {% comment %} <script src="{% static "assets/pages/chartjs-demo.js" %}"></script> {% endcomment %}

        <!-- Include Select2 library -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

    </body>

</html>