

{% extends "base.html" %}

{% block content %}
<div class="col-xl-12">
  <div class="card" style="background-color: rgba(255, 255, 255, 0.5); box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-6">
                <h4>My Province Companies</h4>
            </div>
            <div class="col-lg-6 text-right">
                <button class="btn btn-primary ml-1" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    <i class="mdi mdi-filter"></i>&nbsp;Filters
                </button>
            </div>
        </div>
        
            <div class="collapse mt-2" id="collapseExample">
                <div class="card card-body"  style="background-color: rgba(255, 255, 255, 0.5);">
                    <form method="get">
                        <div class="form-row">
                          <div class="form-group col-md-3">
                            {{ filter.form.category }}
                          </div>
                          <div class="form-group col-md-3">
                            {{ filter.form.sub_category }}
                          </div>
                          <div class="form-group col-md-3">
                            {{ filter.form.province }}
                          </div>
                          <div class="form-group col-md-3">
                            {{ filter.form.district }}
                          </div>
                          <div class="form-group col-md-3">
                            {{ filter.form.municipality }}
                          </div>
                        </div>
                        <a class="text-danger mx-2" href="?{% for key in request.GET %}{% if key != 'page' %}&{{ key }}={% endif %}{% endfor %}">
                            <b>Clear</b>
                        </a>
                        <button type="submit" class="btn btn-primary">Apply Filters</button>
                      </form>
                    
                </div>
                </div>
                </div>

          <div class="row">
              <div class="col-12">
                  <div class="card-body">
                      <table id="auto-datatable" class="table custom-datatable">
                          <thead>
                            <tr style="background:#F9CF93;color:#5C5470; ">

                                <th>Name</th> 
                                <th>Category</th>
                                <th>Sub category</th>
                                <th>Province</th>
                                <th>District</th>
                                <th>Municipality</th>
                                <th>Address</th>
                                <th>Website</th>                               
                          </tr>
                          </thead>
                          <tbody>
                            {% for comp in mycompany %}
                                  
                            <tr style="background-color: #F9E4C8;color:black;">
                              
                            <td><a href="{% url 'company_profile' company_id=comp.id %}">{{comp.name}}</td>
                            <td>{{comp.category}}</td>
                            <td>{{comp.sub_category}}</td>
                            <td>{{comp.province}}</td>
                            <td>{{comp.district}}</td>
                            <td>{{comp.municipality}}</td>
                            <td>{{comp.address}}</td> 
                            <td>{{comp.website}}</td>
                                                                 
                            </tr>
                            
                            {% endfor %}
                          </tbody>
                      </table>
                      
                  </div> <!-- end card body-->
              </div><!-- end col-->
          </div>
          <!-- end row-->

      
        
    </div>
    </div> <!-- end card-body-->
    </div> <!-- end card-->
</div> <!-- end col -->
<script>
  $(document).ready(function () {
      var customDatatable = $('.custom-datatable').DataTable({
          "language": {
              "paginate": {
                  "previous": '<i class="mdi mdi-chevron-left"></i>',
                  "next": '<i class="mdi mdi-chevron-right"></i>'
              }
          }
      });

      customDatatable.on('draw.dt', function () {
          // Apply styling to make the background transparent after each draw
          $('.custom-datatable_wrapper .paginate_button.previous, .custom-datatable_wrapper .paginate_button.next').css('background-color', 'transparent');
      });
  });
</script>
<style>
  .custom-datatable_wrapper .paginate_button.previous,
  .custom-datatable_wrapper .paginate_button.next {
      background-color: transparent !important;
  }
</style>







{% endblock content %}

